<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>101344124011-im32mc1jh2367d5nre12cqdgps690117.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.101344124011-im32mc1jh2367d5nre12cqdgps690117</string>
	<key>API_KEY</key>
	<string>AIzaSyAOg1Q9vT1hWlyo361Lm5eVWKvcHVy5OO0</string>
	<key>GCM_SENDER_ID</key>
	<string>101344124011</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.KeySoftware.SocialNetwork</string>
	<key>PROJECT_ID</key>
	<string>socialnetwork-f75ee</string>
	<key>STORAGE_BUCKET</key>
	<string>socialnetwork-f75ee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:101344124011:ios:1d33bc70edb4ea33</string>
	<key>DATABASE_URL</key>
	<string>https://socialnetwork-f75ee.firebaseio.com</string>
</dict>
</plist>